/* Navbar.css */

.navbar {
    background-color: #f6b10f; /* Background color of the navbar */
    color: white; /* Text color for links and buttons */
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
  }
  
  .navbar a {
    text-decoration: none; /* Remove underlines from links */
    color: rgb(17, 15, 15); /* Text color for links */
     /* Add space between links */
  }
  
  .navbar button {
    background-color: #a28125; /* Red color for the logout button */
    color: white; /* Text color for the button */
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;
  }
  
  /* Add hover effect to links */
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Style the button on hover */
  .navbar button:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }
  